@page "/admin/utilities"
@attribute [Authorize]

<PageTitle>Utilities - Red Taxi Admin</PageTitle>

<div class="page-header">
    <h1>Utilities</h1>
</div>

<FormCard Title="Coming Soon">
    <div class="table-empty">
        Utility tools are under development and will be available in a future release.
    </div>
</FormCard>

@code {
}
